/* Write your CSS here */
.list-item {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.para {
  font-size: 28px;
  font-family: 'Roboto';
  font-weight: 500;
}
.button {
  width: 12%;
  background-color: #ffffff;
  color: #ff0b37;
  border-radius: 10px;
  border-color: #ff0b37;
  height: 30px;
  margin-top: 30px;
}
